body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}
.spec_head {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.spec-details h5{
  margin-top: 20px;
  margin-bottom: 12px;
}
.wrapper-area {
  position: relative;
}
a.btn-bottom {
  position: absolute;
  bottom: -45px;
}